<h3>{{ type$ | async }} pokemons</h3>
<div style="margin: 10px">
  <button onclick="window.history.go(-1);">Go back</button>
</div>

<div class="grid">
  <div class="card" *ngFor="let pokemon of pokemons$ | async">
    <a [routerLink]="['/pokemon/', pokemon.id]">
      <span
        ><b>{{ pokemon.name | titlecase }}</b></span
      >
      <div class="pokemonBackground">
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{
            pokemon.id
          }}.png"
          alt=""
        />
      </div>
    </a>
  </div>
</div>
