<ng-container *ngIf="pokemon$ | async as pokemon; else notFound">
  <div class="moreOptions">
    <a
      *ngIf="pokemon.id! - 1; else noPrev"
      [routerLink]="['/pokemon/', pokemon.id! - 1]"
      [skipLocationChange]="true"
    >
      <img
        class="nextPokemon"
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
          pokemon.id! - 1
        }}.png"
        alt=""
      />
      <br />
      Previous
    </a>
    <section class="card">
      <div class="cardTitle">
        <h3>{{ pokemon.name | titlecase }}</h3>
        <div>
          <span
            ><b>{{ pokemon.hp }}</b></span
          >
          &nbsp;
          <span><b>HP</b></span>
        </div>
      </div>
      <div class="inlineCard">
        <div>
          <div class="pokemonBackground">
            <img src="{{ pokemon.sprite?.normal }}" alt="" />
          </div>
          <div style="display: inline-block" *ngFor="let t of types$ | async">
            <span class="pokemonType" [ngClass]="t.type | lowercase">{{
              t.type
            }}</span>
          </div>
        </div>
        <div class="pokemonInfo">
          <div style="display: flex; justify-content: space-between">
            <span>Weight: {{ pokemon.weight! }} kg</span>
            &nbsp;
            <span>Height: {{ pokemon.height! }} m</span>
          </div>

          <span>Attack : {{ pokemon.attack }}</span>
          <mat-progress-bar
            mode="determinate"
            value="{{ pokemon.attack! * 0.85 }}"
          ></mat-progress-bar>
          <span>Special Attack : {{ pokemon.specialAttack }}</span>
          <mat-progress-bar
            mode="determinate"
            value="{{ pokemon.specialAttack! * 0.85 }}"
          ></mat-progress-bar>
          <span>Defense : {{ pokemon.defense }}</span>
          <mat-progress-bar
            mode="determinate"
            value="{{ pokemon.defense! * 0.85 }}"
          ></mat-progress-bar>
          <span>Special Defense : {{ pokemon.specialDefense }}</span>
          <mat-progress-bar
            mode="determinate"
            value="{{ pokemon.specialDefense! * 0.85 }}"
          ></mat-progress-bar>

          <!-- <div>
            {{ pokemon.moves?.length }} Move(s): [
            <select name="" id="">
              <option *ngFor="let t of pokemon.moves">{{ t.move.name }}</option>
            </select>
            ]
          </div> -->
        </div>
      </div>

      <!-- <p *ngIf="evolution != pokemon.name">
        Final form:
        <a class="evolvesToLink" [routerLink]="['/pokemon/', evolution]">{{
          evolution | titlecase
        }}</a>
      </p> -->
    </section>
    <a [routerLink]="['/pokemon/', pokemon.id! + 1]">
      <img
        class="nextPokemon"
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
          pokemon.id! + 1
        }}.png"
        alt=""
      />
      <br />
      Next
    </a>
  </div>
</ng-container>

<ng-template #notFound>
  <h1 style="text-align: center">Pokemon Not Found</h1>
</ng-template>

<ng-template #noPrev>
  <a href=""></a>
</ng-template>
