<ng-container *ngIf="pokemon$ | async as pokemon; else notFound">
  <div class="moreOptions">
    <a
      *ngIf="pokemon.id! - 1; else noPrev"
      [routerLink]="['/pokemon/', pokemon.id! - 1]"
      [skipLocationChange]="true"
    >
      <img
        class="nextPokemon"
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
          pokemon.id! - 1
        }}.png"
        alt=""
      />
      <br />
      Previous
    </a>
    <section class="card">
      <div class="cardTitle">
        <h3>{{ pokemon.name | titlecase }}</h3>
        <div>
          <span
            ><b>{{ pokemon.stats![0].base_stat }}</b></span
          >
          &nbsp;
          <span
            ><b>{{ pokemon.stats![0].stat.name | uppercase }}</b></span
          >
        </div>
      </div>
      <div class="inlineCard">
        <div>
          <div class="pokemonBackground">
            <img
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{
                pokemon.id
              }}.png"
              alt=""
            />
          </div>
          <div style="display: inline-block" *ngFor="let t of pokemon.types">
            <span class="pokemonType" [ngClass]="t.type?.name">{{
              t.type?.name
            }}</span>
          </div>
        </div>
        <div class="pokemonInfo">
          <div style="display: flex; justify-content: space-between">
            <span>Weight: {{ pokemon.weight / 10 }} kg</span>
            <span>Height: {{ pokemon.height / 10 }} m</span>
          </div>

          <div *ngFor="let s of pokemon.stats">
            <span>{{ s.stat.name | titlecase }} : {{ s.base_stat }}</span>
            <mat-progress-bar
              mode="determinate"
              value="{{ s.base_stat * 0.85 }}"
            ></mat-progress-bar>
          </div>

          <div>
            {{ pokemon.moves?.length }} Move(s): [
            <select name="" id="">
              <option *ngFor="let t of pokemon.moves">{{ t.move.name }}</option>
            </select>
            ]
          </div>
        </div>
      </div>

      <p *ngIf="evolution != pokemon.name">
        Final form:
        <a class="evolvesToLink" [routerLink]="['/pokemon/', evolution]">{{
          evolution | titlecase
        }}</a>
      </p>
    </section>
    <a [routerLink]="['/pokemon/', pokemon.id! + 1]">
      <img
        class="nextPokemon"
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
          pokemon.id! + 1
        }}.png"
        alt=""
      />
      <br />
      Next
    </a>
  </div>

  <!-- <div class="moreOptions">
    <a
      *ngIf="pokemon.id! - 1; else noPrev"
      [routerLink]="['/pokemon/', pokemon.id! - 1]"
      [skipLocationChange]="true"
    >
      <img
        class="nextPokemon"
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
          pokemon.id! - 1
        }}.png"
        alt=""
      />
      <br />
      Previous
    </a>
    <a [routerLink]="['/pokemon/', pokemon.id! + 1]">
      <img
        class="nextPokemon"
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
          pokemon.id! + 1
        }}.png"
        alt=""
      />
      <br />
      Next
    </a>
  </div> -->
</ng-container>

<ng-template #notFound>
  <h1 style="text-align: center">Pokemon Not Found</h1>
</ng-template>

<ng-template #noPrev>
  <a href=""></a>
</ng-template>
